@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}

.container {
  text-align: center;
}

.header {
  background-color: dimgrey;
  height: 150px;
  padding-top: 5px;
}

.red {
  height: 100vh;
  width: 100vw;
  background-color: red;
}
.green {
  height: 100vh;
  width: 100vw;
  background-color: green;
}
.orange {
  height: 100vh;
  width: 100vw;
  background-color: orange;
}
.blue {
  height: 100vh;
  width: 100vw;
  background-color: blue;
}

.form-page{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.form-plate {
  background-color: #ffffff;
  height: 200px;
  width: 400px;
  border-radius: 5px;
}